/* ----------- Reset & Base ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #e0f0ff, #f0f7ff);
  padding-bottom: 80px;
  overflow-y: hidden;
}


.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2f5fad;
  padding: 10px 20px;
  color: white;
}

.navbar p{
  text-align: center;
  font-size: large;
  margin: 0px 0px 0px 10px;
  font-size: 1.6rem;
  font-weight: 1000;
}

.navbar img {
  height: 50px;
  width: 50px;
  background-color: #f0f4ff;
  border-radius: 100px;
}

.navbar nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: medium;
}

.navbar nav a:hover {
  text-decoration: underline;
}

/* ----------- Login Box ----------- */
.login-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 80px auto;
}

.login-header h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2f5fad;
}

/* ----------- Input Fields ----------- */
.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.input-box input:focus {
  outline: none;
  border-color: #2f5fad;
  border-width: 1px;
}

/* ----------- Submit Button ----------- */
.input-submit button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #2f5fad;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.input-submit button:hover {
  background-color: #244c9a;
}

.forgot-password {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* ----------- Sign-Up Link ----------- */
.sign-up-link {
  margin-top: 15px;
  text-align: center;
  font-size: 0.95rem;
}

.sign-up-link a {
  color: #2f5fad;
  text-decoration: none;
}

.sign-up-link a:hover {
  text-decoration: underline;
}

/* ----------- Footer ----------- */
footer {
  background-color: #1f4f92;
  color: white;
  text-align: center;
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

/* ----------- Responsive ----------- */
@media (max-width: 600px) {
  .login-box {
    padding: 20px;
    margin: 60px 20px;
  }

  .input-box input {
    padding: 10px;
  }

  .input-submit button {
    padding: 10px;
  }
}
